<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="htmx-config" content='
        { "responseHandling": [
                {"code":"200", "swap":"true"},
                {"code": "422", "swap": "true"}
            ]
        }'/>
    <title>@ViewData["Title"]</title>
    <script src="lib/htmx.js"></script>
    <script src="lib/alpine.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<header>
    <div>HxContact</div>
    <hr/>
</header>

<main>
    @RenderBody()
</main>

</body>
</html>
